In [1]:
def is_leap():
    leap = False
    if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0:
        leap = True
    return leap

# print statement

In [2]:
print("greetings from iNeuron")
print("Good Evening")

greetings from iNeuron
Good Evening

In [3]:
print('greetings from iNeuron')
print("Good Evening")

greetings from iNeuron
Good Evening

In [4]:
Print("Good Evening")

NameError: name 'Print' is not defined

In [5]:
print("Good 
Evening")

SyntaxError: EOL while scanning string literal (<ipython-input-5-f065c2c370f4>, line 1)

In [6]:
"Good evening"

'Good evening'

In [7]:
"Good morning"
print("HI")

HI

In [8]:
print("""Good 
Evening""")

Good
Evening

In [9]:
print("""India, officially the Republic of India (Hindi: Bhārat Gaṇarājya),[26] is a country in South Asia. It is the seventh-largest country by area, the second-most populous country, and the most populous democracy in the world. Bounded by the Indian Ocean on the south, the Arabian Sea on the southwest, and the Bay of Bengal on the southeast, it shares land borders with Pakistan to the west;[f] China, Nepal, and Bhutan to the north; and Bangladesh and Myanmar to the east. In the Indian Ocean, India is in the vicinity of Sri Lanka and the Maldives; its Andaman and Nicobar Islands share a maritime border with Thailand, Myanmar, and Indonesia. The nation's capital city is New Delhi.

Modern humans arrived on the Indian subcontinent from Africa no later than 55,000 years ago.[27][28][29] Their long occupation, initially in varying forms of isolation as hunter-gatherers, has made the region highly diverse, second only to Africa in human genetic diversity.[30] Settled life emerged on the subcontinent in the western margins of the Indus river basin 9,000 years ago, evolving gradually into the Indus Valley Civilisation of the third millennium BCE.[31] By 1200 BCE, an archaic form of Sanskrit, an Indo-European language, had diffused into India from the northwest.[32][33] Its evidence today is found in the hymns of the Rigveda. Preserved by a resolutely vigilant oral tradition, the Rigveda records the dawning of Hinduism in India.[34] The Dravidian languages of India were supplanted in the northern and western regions.[35] By 400 BCE, """)

India, officially the Republic of India (Hindi: Bhārat Gaṇarājya),[26] is a country in South Asia. It is the seventh-largest country by area, the second-most populous country, and the most populous democracy in the world. Bounded by the Indian Ocean on the south, the Arabian Sea on the southwest, and the Bay of Bengal on the southeast, it shares land borders with Pakistan to the west;[f] China, Nepal, and Bhutan to the north; and Bangladesh and Myanmar to the east. In the Indian Ocean, India is in the vicinity of Sri Lanka and the Maldives; its Andaman and Nicobar Islands share a maritime border with Thailand, Myanmar, and Indonesia. The nation's capital city is New Delhi.

Modern humans arrived on the Indian subcontinent from Africa no later than 55,000 years ago.[27][28][29] Their long occupation, initially in varying forms of isolation as hunter-gatherers, has made the region highly diverse, second only to Africa in human genetic diversity.[30] Settled life emerged on the subcontinent in the western margins of the Indus river basin 9,000 years ago, evolving gradually into the Indus Valley Civilisation of the third millennium BCE.[31] By 1200 BCE, an archaic form of Sanskrit, an Indo-European language, had diffused into India from the northwest.[32][33] Its evidence today is found in the hymns of the Rigveda. Preserved by a resolutely vigilant oral tradition, the Rigveda records the dawning of Hinduism in India.[34] The Dravidian languages of India were supplanted in the northern and western regions.[35] By 400 BCE,

In [10]:
print("""Good 
Evening
from
India""")

Good
Evening
from
India

# Comments

In [11]:
# say hello to the students
print("Hi Students")

Hi Students

In [12]:
# say hello to the students
# print("Hi Students")

# Multi Line Comments

In [13]:
"""
Say Hi
To the students
"""

'\nSay Hi\nTo the students\n'

In [14]:
"""
Say Hi
To the students
"""
print('Hi Students')

Hi Students

In [18]:
# Say Hi
# To the students

print('Hi Students')

Hi Students

In [17]:
 more exceptional cases in print statements

print("Hi my name is "Sunny" ")

SyntaxError: invalid syntax (<ipython-input-17-9f77a7710562>, line 1)

In [16]:
print("Hi my name is \"Sunny\" ")

Hi my name is "Sunny"

In [19]:
print('Hi my name is "Sunny" ')

Hi my name is "Sunny"

In [21]:
print("Hi my name is 'Sunny' ")

Hi my name is 'Sunny'

In [20]:
print("""Hi my name is "Sunny" """)

Hi my name is "Sunny"

In [22]:
print("""Hi my name is "Sunny"!""")

Hi my name is "Sunny"!

## Example [Shift + Enter]

In [24]:
123+245 #sume of 2 nos

368

In [25]:
123*245

30135

In [27]:
123/245

0.5020408163265306

In [28]:
123**2 # power of 123 raised to 2

15129

In [29]:
(-123)**2

15129

In [30]:
123%2 # modulo operator which gives you reminder

1

In [33]:
2%2

0

In [35]:
3%2

1

In [36]:
122%2

0

In [40]:
123 *245
print('Result')

Result

In [41]:
print(123 * 245)
print("Result")

30135
Result

In [42]:
print("123 * 245")
print("Result")

123 * 245
Result

# Variables in python
## Variables in python
### Variables in python
#### Variables in python
##### Variables in python
<h1>Variables in python</h1>

In [43]:
x = 10
print(x)

10

In [44]:
y = 20
print(y)

20

In [45]:
print(x+y)

30

In [46]:
print(x/y)

0.5

1. Variable names should start with alphabets

In [48]:
ten = 10
ten_number = 10
tenNumber = 10

2. Variable names should not contain any special characters like ^ % $ ! @ # ^ & * ( )

In [49]:
ten* = 10

SyntaxError: invalid syntax (<ipython-input-49-186f8d3ec400>, line 1)

In [50]:
ten%number = 10

SyntaxError: cannot assign to operator (<ipython-input-50-3233643d8db9>, line 1)

In [53]:
ten = 10
ten_number = 10
ten%number = 10
tenNumber = 10

SyntaxError: cannot assign to operator (<ipython-input-53-400ff1eaa21e>, line 3)

In [54]:
ten = 10
ten_number = 10
ten/number = 10
tenNumber = 10

SyntaxError: cannot assign to operator (<ipython-input-54-d4b8d6ed4cd3>, line 3)

3. Variable names can contain numbers but you can't start with numbers

In [57]:
ten10 = 10

In [58]:
10ten = 10

SyntaxError: invalid syntax (<ipython-input-58-c508e1cc1cd5>, line 1)

In [59]:
__num = 10 # hidden variable

4. Its not a strict rule that you should variable names with a Captial letter. But its recommended to use small letters for the variables

In [60]:
Ten = 10

In [61]:
ten number = 10

SyntaxError: invalid syntax (<ipython-input-61-91c87c3e0e8f>, line 1)

In [62]:
ten_number = 10

In [63]:
_ = 10 # dummy variable

# Fundamental data types

# integers

In [64]:
a = 7
type(a)

int

In [65]:
b = 77777
type(b)

int

## floats - numbers containing decimal numbers

In [67]:
pi = 3.14
print(pi)
type(pi)

3.14

float

In [71]:
pi = 22/7
pi

3.142857142857143

In [72]:
type(pi)

float

In [73]:
x = 2.0

In [74]:
type(x)

float

In [75]:
x = 2
type(x)

int

# Complex numbers

In [78]:
a = 2+3j
a

(2+3j)

In [79]:
type(a)

complex

In [80]:
a.real

2.0

In [83]:
a.imag

3.0

## Dynamic typing

```
int a = 22;
```

In [84]:
a = 22
type(a)
a = 22.2
type(a)

float

In [85]:
a = 22
print(type(a))
a = 22.2
print(type(a))
a = "Sunny" 
print(type(a))
a = 'Sunny' 
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [86]:
print(a)

Sunny

In [87]:
a = 22
print(type(a))
a = 22.2
print(type(a))
a = "22.2" 
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>

# Strong typing

In [88]:
"Day " + 1

TypeError: can only concatenate str (not "int") to str

In [89]:
22.2 + 1

23.2

In [90]:

"Day " + "1"

'Day 1'

In [91]:
22 + 22

44

In [92]:
"22" + "22"

'2222'

In [94]:
"22" + 22 #work only str to str

TypeError: can only concatenate str (not "int") to str

In [95]:
22 + "22"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [96]:
'22' + "22"

'2222'

In [97]:
"Sunny " + "Chandra"

'Sunny Chandra'

In [99]:
a = 1 # int data type
b = 1.2 # float data type
c = "Sunny" # string data type 
f = 1 + 2j # complex data type # rarely used

In [100]:
print("Hi welcome to class of python language")

Hi welcome to class of python language

In [101]:
print("Hi welcome to class of Java language")

Hi welcome to class of Java language

In [102]:
language = "JavaScript"
print("Hi welcome to class of " + language + " language") # allowed but rarely used

Hi welcome to class of JavaScript language

In [103]:
# f -> formatted string method
language = "JavaScript"
print(f"Hi welcome to class of {language} language") # current standard approach used in python

Hi welcome to class of JavaScript language

In [104]:
language = "JavaScript"
print("Hi welcome to class of {} language".format(language)) # old way

Hi welcome to class of JavaScript language

In [105]:
language = "JavaScript"
print("Hi welcome to class of {language} language")

Hi welcome to class of {language} language

In [106]:
# f -> formatted string method
num = "first"
language = "Python"
print(f"Today is the {num} class of {language} language") # current standard approach used in python

Today is the first class of Python language

In [107]:
num = "first"
language = "Python"
print("Today is the {} class of {} language".format(num, language))

Today is the first class of Python language

In [108]:
num = "first"
language = "Python"
print("Today is the "+num+" class of "+language+" language")

Today is the first class of Python language

In [110]:
name = "Imteyaz"
print(f"I am {name}")

I am Imteyaz

In [111]:
a = 22
b = 34
c = a + b
print(f"the result sum of two nums a: {a} and b: {b} is ={c}")

the result sum of two nums a: 22 and b: 34 is =56

In [114]:
print(f"sum of two numbers a: {a} and b: {b} is ={c}")

sum of two numbers a: 22 and b: 34 is =56

# Boolean
True False

In [116]:
one = True
two = False

print(type(one))
print(type(two))

<class 'bool'>
<class 'bool'>

In [117]:
class_starts_at = 3 
you_came_at = 2
you_understood_all_concepts = you_came_at < class_starts_at

print(f"You understood everything?: {you_understood_all_concepts}")

You understood everything?: True

In [118]:
class_starts_at = 3 # class start at 3 PM
you_came_at = 4 # you came to class at 4 PM
you_understood_all_concepts = you_came_at < class_starts_at

print(f"You understood everything?: {you_understood_all_concepts}")

You understood everything?: False

In [119]:
# = means assignment
# == means comparing equality
is_raining = False
umbralla_available = False
go_to_college = is_raining == umbralla_available # Cop
go_to_college

True

In [123]:
numA = 5
numB = 6
numA == numB

False

In [124]:
numA = 5
numB = 5
numA == numB

True

In [125]:
numA = 5
numB = 5
numA > numB

False

In [135]:
numA = 5
numB = 5
numA >= numB

True

In [141]:
"Sunny" + " Bhaveen " + "Chandra"

'Sunny Bhaveen Chandra'

In [147]:
"My name is \"Sunny\" Chandra"

'My name is "Sunny" Chandra'

In [148]:
print("\"")

"

In [149]:
print(""" " """)

 "

In [145]:
print(""" / """)

 /

In [146]:
name = "Pallavi"
print(f"My name is: {name}")

My name is: Pallavi

In [150]:
name = 1000
print(f"My name is: {name}")

My name is: 1000

In [151]:
a=2
b = 3
c = 4
__result__ = a+b+c
print(f"sum = {__result__}")

sum = 9

In [152]:
z = 2+5j

In [153]:
z.real

2.0

In [154]:
z.imag

5.0